.form{
        display:block;
        background-color: lightgray;
        width: 400px;
        border: 2px solid black;
        margin: 20px auto;
        border-radius: 15px;
        box-shadow: 15px 6px 36px -5px rgb(0, 0, 0);
        -webkit-box-shadow: 15px 6px 36px -5px rgb(0, 0, 0);
        -moz-box-shadow: 15px 6px 36px -5px rgb(0, 0, 0);
}

    .titulo{

        background-color: beige;
        text-align: center;
        color: blue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 600;
        margin-bottom: 50px;

}