---
import "./FormLayout.css";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="titulo">FORMULARIO DE REGISTRO</h1>
    <div class="form">
        <slot name="subtitulo"/>
        <slot name="caja-texto-nombre" />
        
        <slot name="caja-texto-apellido" />
       
        <slot name="caja-texto-email" />
      
        <slot name="grupo-radio" />
      
        <slot name="select-ciudades" />
        
        <slot name="boton-envio" />
    </div>
</body>
</html>

